.emailForm {
  border: 1px solid black;
  width: 35%;
  margin: 10vw auto;
  height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(221, 242, 249);
  border: none;
}

.emailForm > input {
  width: 98%;
  margin: 0 auto;
  height: 15%;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2px 10px;
  font-weight: 400;
}

.emailForm > button {
  margin-top: 10px;
  height: 18%;
  width: 80px;
  border-radius: 5px;
  border: none;
  outline: 2px solid rgb(26, 143, 211);
  background-color: rgb(58, 148, 199);
  color: white;
  font-size: 18px;
  font-weight: 400;
  transition: 0.1s;
  cursor: pointer;
}

.emailForm > button:hover {
  background-color: white;
  color: rgb(26, 143, 211);
}

/* SUBSCRIBED VIEW*/
.subscribedDiv {
  height: 200px;
  width: 40%;
  margin: 10vw auto;
  text-align: center;
}

.subscribedDiv > a {
  padding: 10px;
  outline: 2px solid rgb(159, 214, 246);
  border-radius: 50%;
  background-color: rgb(159, 214, 246);
  display: inline-block;
  transition: 0.1s;
}

.subscribedDiv > a:hover {
  transform: scale(1.1);
}

.subscribedDiv img {
  height: 30px;
}
