<div class="subscribedDiv">
  <h1>Thanks for Subscribing</h1>
  <p>Check your email for confirmation</p>
  <a href="goback"
    ><img src="https://cdn-icons-png.flaticon.com/128/860/860825.png"
  /></a>
</div>
